@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

.navbar,
.nav-links {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-links li,
a {
  padding: 10px;
  text-decoration: none;
  color: #167bfe;
}

.link-active {
  text-decoration: underline;
  background-color: #167bfe;
  color: #fff;
  border-radius: 5px;
}

.header-title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.rockets {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 5px;
}

@media screen and (max-width: 500px) {
  .rockets {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .rocket-img {
    width: 100%;
    height: 100%;
  }

  .reserve-btn {
    margin-bottom: 20px;
  }

  .profile-wrapper {
    display: flex;
    flex-direction: column;

    /* margin-left: 10%; */
    justify-content: center;

    /* align-items: center; */
  }
}

.main-container {
  margin: auto 29px;
}

#reserve-btn {
  background-color: #167bfe;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  border: none;
  margin-top: 10px;
}

.reserved-button {
  background-color: red !important;
  color: #fff !important;
}

.check-status {
  background-color: #23a2b8;
  color: #fff;
  padding: 2px;
  border-radius: 4px;
  margin-right: 5px;
}
